{% extends 'base.html' %}

{%block title %} Proyectos {%endblock%}

{% block content %}

<div class="row mb-3 mx-3">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
        <!-- Formulario de búsqueda alineado a la izquierda -->
        <form method="GET" action="{% url 'projects:projects' %}" class="form-inline d-flex">
            <input name="search" class="form-control mr-2" type="search" placeholder="Buscar">
            <button type="submit" class="btn btn-outline-success mx-2">Buscar</button>
        </form>

        <!-- Botón "Agregar Cliente" alineado a la derecha -->
        
    </div>
</div>



<div class="container-fluid">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Titulo</th>
                <th>Cliente</th>
                <th>Vehiculo</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{project.title}}</td>
                <td>{{project.client}}</td>
                <td>{{ project.car }}</td>
                <td>{{project.start_date}}</td>
                <td>{{project.end_date}}</td>
                <td>{{project.status}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm">
                        <a href="{% url 'projects:project_details' project.pk %}" style="color: white;">Ficha</a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="pagination-container">
        <button id="prev-page-btn" class="btn btn-secondary btn-sm">Previous</button>
        <span id="current-page" class="mx-2"></span>
        <button id="next-page-btn" class="btn btn-secondary btn-sm">Next</button>
    </div>
</div>


{% include 'add_project.html' %}
{% include 'update_project.html' %}
{% include 'delete_project.html' %}


{%endblock%}