{% extends 'base.html' %}

{%block title %} Dashboard {%endblock%}

{% block content %}

<div class="container-fluid justify-content-center formselect">
    <div class="d-flex justify-content-center align-items-center">
        <form method="get" action="{% url 'frontend:index' %}">
            <label for="selectMenu" class="me-2">Seleccione un Año:</label>
            <select name="year" id="selectMenu" class="form-select form-select-sm" aria-label="Small select example">
                {% for year in years %}
                    <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h5 class="card-title" style="text-align: center;">Total Trabajos</h5>
                    <h6 class="card-content" style="text-align: center;">{{ projects_count }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h5 class="card-title" style="text-align: center;">Trabajos En Progreso</h5>
                    <h6 class="card-content" style="text-align: center;">{{ inprogress_projects }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h5 class="card-title" style="text-align: center;">Trabajos Finalizados</h5>
                    <h6 class="card-content" style="text-align: center;">{{ completed_projects }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h5 class="card-title" style="text-align: center;">Trabajos Sin Comenzar</h5>
                    <h6 class="card-content" style="text-align: center;">{{pending_projects }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h3 style="text-align: center;">Projectos Finalizados por Mes</h3>
<div class="container-fluid chartscontainer">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card shadow">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            {% for month in projects_count_per_month %}
                                <th style="text-align: center;">{{ month.month }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for month in projects_count_per_month %}
                                <td style="text-align: center;">{{ month.count }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container-fluid chartscontainer">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h4 style="text-align: center;">Ultimos Proyectos</h4>
            <div class="card shadow">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th style="text-align: center;">Título</th>
                            <th style="text-align: center;">Descripción</th>
                            <th style="text-align: center;">Cliente</th>
                            <th style="text-align: center;">Vehículo</th>
                            <th style="text-align: center;">Creado</th>
                            <th style="text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in last_projects %}
                        <tr>
                            <td style="text-align: center;">{{ project.title }}</td>
                            <td style="text-align: center;">{{ project.description }}</td>
                            <td style="text-align: center;">{{ project.client }}</td>
                            <td style="text-align: center;">{{ project.car }}</td>
                            <td style="text-align: center;">{{ project.created_at }}</td>
                            <td style="text-align: center;">
                                <a href="{% url 'projects:project_details' project.id %}" class="btn btn-primary btn-sm">Ver</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">No se han encontrado proyectos.</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <h4 style="text-align: center;">Proximos Servicios</h4>
            <div class="card shadow">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th style="text-align: center;">Cliente</th>
                            <th style="text-align: center;">Vehiculo</th>
                            <th style="text-align: center;">Ultimo Servicio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in next_services %}
                        <tr>
                            <td style="text-align: center;">{{ service.client }}</td>
                            <td style="text-align: center;">{{ service.car }}</td>
                            <td style="text-align: center;">{{ service.last_service_date }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">No hay servicios a notificar.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




{%endblock%}